body {
font-family: Arial, sans-serif;
    color: black;
    background-image: url('../images/doctor-to-ai.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            color: #A100FF;
        }
        .container {
            background: rgba(255, 255, 255, 0.8);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(20px);
            border: 1px solid rgba(255, 255, 255, 0.3);
            padding: 20px;
            text-align: center;
        }

        h1 {
            margin: 0 0 20px;
        }

        label {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
        }

        input[type="file"] {
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 4px;
            transition: border-color 0.3s;
        }

        input[type="file"]:focus {
            border-color: #A100FF;
        }

        button {
            padding: 10px 20px;
            background-color: #A100FF;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #7300b2;
        }

        h2 {
            margin-top: 30px;
        }
        b{top:0;
        }

        p {
            color: black;
        }
        .response {
    font-size: 10px;
    margin-top: 30px;
    text-align: left;
    color: black;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.5);
    border: 4px solid #A100FF;
    animation: borderColorChange 2s linear infinite;
}

@keyframes borderColorChange {
    0% {
        border-color: rgba(161, 0, 255, 0.5);
    }
    50% {
        border-color: rgba(161, 0, 255, 1);
    }
    100% {
        border-color: rgba(161, 0, 255, 0.5);
    }
}