body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #00f;
    font-size: 12px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #111;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    color: #00f;
}

form {
    display: flex;
    flex-direction: column;
}

form input, form select, form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #00f;
    background-color: #222;
    color: #00f;
}

form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #00f;
    color: #fff;
    cursor: pointer;
}

form button:hover {
    background-color: #0055ff;
}

pre {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    white-space: pre-wrap;
}
