body {
font-family: Arial, sans-serif;
    background-image: url('../images/doctor-to-ai.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: #A100FF;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.header h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.header a {
    text-decoration: none;
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
}

.container {
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    background: rgba(161, 0, 255, 0.1);
    border-radius: 8px;
    margin: 10px 0;
    padding: 10px;
    transition: background-color 0.3s;
}
li:hover {
    background: rgba(161, 0, 255, 0.2);
}
li a {
text-decoration:none;
    color: #A100FF;
    font-size: 1em;
}
.response {
    font-size: 16px;
    text-align: center;
    color: black;
    width: 80%;
    padding: 10px 80px;
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    animation: gradientAnimation 5s linear infinite;
    background: linear-gradient(-45deg, #A100FF, #ffffff, #A100FF, #ffffff);
    background-size: 400% 400%;
    cursor: pointer;
    transition: transform 0.3s;
}

.response:hover {
    transform: scale(1.05);
}

.response:active {
    transform: scale(0.95);
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 600px) {
    .header, .container {
        width: 90%;
    }

    .header h1 {
        font-size: 2em;
    }

    .response {
        font-size: 14px;
        padding: 8px 16px;
    }

    li a {
        font-size: 0.9em;
    }
}
