body {
    background-color: #fff;
    color: #A100FF;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
    color: #A100FF;
}

h2 {
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #A100FF;
}

p {
    font-size: 1em;
    margin: 5px 0;
    color: #333;
}

.toggle-button {
    font-size: 0.5em;
    text-align: center;
    color: black;
    padding: 10px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    animation: gradientAnimation 10s linear infinite;
    background: linear-gradient(-45deg, #A100FF, #ffffff, #A100FF, #ffffff);
    background-size: 400% 400%;
    cursor: pointer;
    transition: transform 0.3s;
    margin-bottom: 20px;
}

.toggle-button:hover {
    transform: scale(1.05);
}

.toggle-button:active {
    transform: scale(0.95);
}

.user-input {
    display: none;
}
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 600px) {
    .container {
        width: 95%;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    .toggle-button {
        font-size: 0.9em;
        padding: 8px 16px;
    }

    .ai-response {
        font-size: 0.9em;
        padding: 15px;
    }
}
