body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h3 {
    color: #00bfff;
    text-align: center;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
    color: #00bfff;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
}
button {
    float:right;
    width:90%;
    padding: 8px;
    background-color: #00bfff;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}
button:hover {
    background-color: #0099cc;
}
.messages {
    background-color: #ff3333;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
    text-align: center;
    color: #fff;
}
*{
font-size:12px;
}