body {
    font-family: Arial, sans-serif;
    background-image: url('../images/doctor-to-ai.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: black;
}

.header {
    background: #A100FF;
    padding: 10px 0;
    color :white;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 20px 20px 0 20px;
}

.signup-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

h1 {
    margin: 0;
    font-size: 15px;
}

label {
    font-weight: bold;
    color: black;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
    background: rgba(255, 255, 255, 0.8);
    color: black;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #2874f0;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #A100FF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
.messages {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #ffdddd;
    border: 1px solid #f44336;
    border-radius: 4px;
}
p {
    text-align: center;
    color: black;
}
a {
    color: #A100FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
