{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Symptom Report Details</title>
    <link rel="stylesheet" href="{% static 'css/symptom-report-style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Symptom Report Details</h1>
        <button class="toggle-button" onclick="toggleUserInput()">Show/Hide Symptom</button>
        <div id="userInput" class="user-input">
            <h2>Symptom</h2>
            <p><strong>Core Symptoms:</strong> {{ symptom_report.core_symptoms }}</p>
            <p><strong>Symptom Duration (weeks):</strong> {{ symptom_report.duration_weeks }}</p>
            <p><strong>Symptom Severity:</strong> {{ symptom_report.severity }}</p>
            <p><strong>Symptom Location:</strong> {{ symptom_report.location }}</p>
            <p><strong>Associated Symptoms:</strong> {{ symptom_report.associated_symptoms }}</p>
            <p><strong>Medical History:</strong> {{ symptom_report.medical_history }}</p>
            <p><strong>Lifestyle Factors:</strong> {{ symptom_report.lifestyle_factors }}</p>
            <p><strong>Recent Exposures:</strong> {{ symptom_report.recent_exposures }}</p>
        </div>
        <h2>AI Report</h2>
        <div id="aiResponse" class="ai-response"></div>
    </div>

    <script>
        function toggleUserInput() {
            var userInput = document.getElementById('userInput');
            if (userInput.style.display === 'none') {
                userInput.style.display = 'block';
            } else {
                userInput.style.display = 'none';
            }
        }

        document.addEventListener('DOMContentLoaded', function() {
            var markdownContent = `{{ symptom_report.ai_response|escapejs }}`;
            var htmlContent = marked.parse(markdownContent);
            document.getElementById('aiResponse').innerHTML = htmlContent;
        });
    </script>
</body>
</html>
