{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Doctor Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/dashboard-style.css' %}">
</head>
<body>
    <header class="header">
        <div class="header-left">
            <h1>AI Doctor</h1>
        </div>
        <div class="header-right">
            <a href="{% url 'logout' %}" class="logout-button">Logout</a>
        </div>
    </header>
    <div class="container">
            {% if request.user.is_anonymous %}
        <a href="/user/register" class="user-box">
            <span>Register Now!</span><span class="arrow">&rarr;</span></a>
            {% else %}
            <a href="/user" class="user-box">
            <span>👋 Hello, {{ request.user.username }}!</span><span class="arrow">&rarr;</span></a>
            {% endif %}
        <div align="center"><h3>Your Digital Healthcare Companion 🌟<h3></div>

        <div class="link-boxes">
            <div class="row">
                <a href="/chat/" class="link-box">
                    <span>Chat with an AI Doctor✨<span class="arrow">&rarr;</span></span>
                    <img src="{% static 'images/ai-assistant.png' %}" alt="Chat">
                </a>
                <a href="/symptom_checker/" class="link-box small">
                    <span>Symptom Checker ✨<span class="arrow">&rarr;</span></span>
                </a>
            </div>
            <div class="row">
                <a href="/lab_report/" class="link-box small">
                    <span>Lab Report ✨<span class="arrow">&rarr;</span></span>
                </a>
                <a href="/prescription_scanner/" class="link-box small">
                    <span>Prescription Scanner ✨<span class="arrow">&rarr;</span></span>
                </a>
            </div>
            <div>
                <span class="link-box small large-width">
                    <span>Radiological Report ✨ (X-rays, MRIs etc.)<span class="arrow">Coming soon</span></span>
                </span>
            </div><br>
            <div align="center">
            <h2>Revolutionize Your Healthcare Experience with AI Doctor</h2>
            <p>Your health, our priority. Access immediate, intelligent medical support from the comfort of your home.</p>
            </div><br>
            <div class="row">
                <span class="link-box">
                    <img src="{% static 'images/ai-robot.jpg' %}" alt="Chat">
                </span>
                <span class="row-text"><br>
                    <span><b><mark>Why Choose AI Doctor? 🌟</mark></b><br><br>
<b>24/7 Availability</b> Get medical advice anytime, anywhere. <br>
                        <b>Instant Results</b> Receive immediate feedback and analysis. (You don’t need to wait in a queue!)<br>
<b>Accurate Insights</b> Leverage cutting-edge AI technology for precision. (Healthcare at your fingertips!)<br>
                </span>
                </span>
                </div>
            <h2>Testimonials</h2>
                <div class="row">
                    <span class="testimonial">
                        <p>⭐️⭐️⭐️⭐️⭐️</p>
                    <p>Having access to medical advice 24/7 gives me such <b>peace of mind</b>.</p>
                        <p> - Emily R</p>
                </span>
                <span class="testimonial">
                    <p>⭐️⭐️⭐️⭐️⭐️</p>
                    <p>The prescription scanner is so easy to use. I never miss a dose now!</p>
                    <p> - Mark T.</p>
                </span>
                <span class="testimonial">
                    <p>⭐️⭐️⭐️⭐️</p>
                    <p>AI Doctor has transformed how I manage my health. The instant feedback and detailed lab reports are game-changers!"</p>
                    <p> - Sarah J</p>
                </span>
            </div>
        </div>
    </div>
<footer class="footer">
    <div align="center">
        AI Doctor<br>
© 2024 AI Doctor. All rights reserved.
    </div>
    </footer>
</body>
</html>
